/* .accordion-body{
    display: flex;
    flex-direction: column;
} */

#accordion {
    width: 200px;
    background-color: #f4f4f4;
    overflow: hidden;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-header {
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 10px;
}