.navbox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.img_box {
    box-sizing: border-box;
    text-align: left;
    list-style-type: none;
    margin-bottom: 20px;
}

.img_box img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hashtags span {
    margin-right: 5px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlay img {
    max-width: 80%;
    max-height: 80%;
}
.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.overlay-img {
    max-width: 80%;
    max-height: 80vh;
}

.overlay-hashtags {
    margin-top: 20px;
    color: #fff; /* 해시태그 색상을 흰색으로 설정 */
}

#download-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-group {
    margin-right: 15px;
}

.btn_list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
    margin-right: 10%;
}

.select {
    margin-right: 10%;
}

body {
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.pagination a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    display: inline-block;
}

.pagination .current {
    z-index: 2;
    color: #000; /* 전체적인 글 색상 */
    cursor: default;
    background-color: #4CAF50; /* 클릭 시 배경색 */
    border-color: #4CAF50;
}

.pagination .pagination-arrow {
    font-weight: bold;
    color: #000; /* 전체적인 글 색상 */
}

.pagination a:hover {
    z-index: 1;
    background-color: #ddd;
}

.step-links a {
    color: black;
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .step-links a:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .step-links .current {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: 1px solid #4CAF50;
    position: relative;
    z-index: 1; /* 선택된 페이지 번호를 다른 요소 위에 위치하도록 설정 */
  }
  
  .step-links span {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    color: black;
  }
  
  .step-links a:visited {
    color: black;
  }
  .hashtags {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex; /* 해시태그를 가로로 나열하기 위해 추가 */
    max-height: 80px; /* 높이를 최대 30px로 제한 */
   /*  overflow: hidden; /* 넘치는 내용을 감추기 */
    
}
.hashtags p {
    margin: 0; /* 기본 마진 제거 */
    padding: 0px;
}

.hashtags span {
    margin-right: 5px;
    margin-bottom: 5px; /* 버튼과 동일한 간격을 유지하기 위해 추가 */
    display: inline-block; /* 해시태그를 가로로 나열하기 위해 추가 */
    padding: 2px 6px; /* 크기 조정 */
    font-size: 12px; /* 폰트 크기 조정 */
    border-radius: 5px; /* 버튼과 동일한 모서리 둥글기 적용 */
    max-height: 20px; /* 해시태그 영역의 높이를 최대 20px로 제한 */
    /* overflow: hidden; /* 넘치는 내용을 감추기 */
    white-space: nowrap; /* 텍스트가 한 줄로만 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 대한 생략 부호(...) 표시 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 요소의 크기를 계산 */
    
}
/* 이미지 목록 페이지에서 해시태그 스타일 */
.hashtags a {
    display: inline-block;
    padding: -1px;
    margin: 5px;
    background-color: #f2f2f2; /* 배경색 설정 */
    color: #000000; /* 글자색 설정 */
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
    border-radius: 5px; /* 테두리 모서리 둥글게 설정 */
    text-decoration: none;
}

/* 이미지 목록 페이지에서 해시태그에 호버 효과 스타일 */
.hashtags a:hover {
    background-color: #e0e0e0; /* 호버시 배경색 변경 */
}


.hashtags-list {
   /* overflow: hidden; */
    max-height: 3em; /* 초기에 세 줄 이내로 표시 */
    transition: max-height 0.5s ease; /* 부드러운 애니메이션 적용 */
}

.hashtags-list.collapsed {
    max-height: none; /* 더보기 클릭 시 전체 표시 */
}

.hashtags-toggle {
    cursor: pointer;
    color: blue; /* 더보기 텍스트 스타일링 (원하는 색상으로 변경) */
}
