.accordion-body{
    display: flex;
    flex-direction: column;
}
.accordion {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* 조절하고자 하는 최대 너비 설정 */
    margin-left: auto; /* 오른쪽으로 정렬 */
    margin-right: auto;
}