<!DOCTYPE html>
<html>
<head>
    <title>이미지 및 GIF 파일 목록</title>
</head>
<body>
    <h1>이미지 파일 목록</h1>
    <ul>
        {% for post in image_posts %}
            <li>
                <img src="{{ post.image.url }}" alt="Image">
            </li>
        {% endfor %}
    </ul>

    <h1>GIF 파일 목록</h1>
    <ul>
        {% for post in gif_posts %}
            <li>
                <a href="{{ post.gif.url }}" target="_blank">View GIF</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
