{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<style>
    .hashtags {
        margin-top: 5px; /* 원하는 간격으로 조정하세요 */
    }

    .hashtags span {
        margin-right: 5px; /* 해시태그 사이의 간격을 조정하세요 */
    }
</style>
<form method="get" action="{% url 'img:search_images' %}">
    <input type="text" name="search" placeholder="Search by hashtag">
    <button type="submit">Search</button>
</form>
<body>
    <h1>이미지 목록</h1>
   
    <ul>
        {% for image in image_items %}
            <li>
                <img src="{{ image.image.url }}" alt="Image">
                <div class="hashtags">
                <p>해시태그: {% for hashtag in image.hashtags.all %}
                    <span>{{ hashtag.name }} </span>
                        {% endfor %}</p>
                </div>
            </li>
        {% empty %}
            <p>등록된 이미지가 없습니다.</p>
        {% endfor %}
    </ul>
    <h1>실시간 검색 순위</h1>
    <ul id="search-ranking">
        {% for entry in search_history %}
            <li>{{ entry.query }} ({{ entry.search_count }}회 검색)</li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateRanking() {
        $.get('{% url "img:image_list" %}', function (data) {
            var searchRankingHtml = $(data).find("#search-ranking").html();
            var rankingContainer = $('#search-ranking');
            rankingContainer.html(searchRankingHtml);
            console.log(searchRankingHtml);
        });
    }

    // 페이지 로딩 후 초기 업데이트
    updateRanking();

    // 1분(60,000 밀리초)마다 업데이트
    setInterval(updateRanking, 1000);
</script>
</body>

{% endblock content %}