{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<style>
    .hashtags {
        margin-top: 5px; /* 원하는 간격으로 조정하세요 */
    }

    .hashtags span {
        margin-right: 5px; /* 해시태그 사이의 간격을 조정하세요 */
    }
</style>
<form method="get" action="{% url 'img:search_images' %}">
    <input type="text" name="search" placeholder="Search by hashtag">
    <button type="submit">Search</button>
</form>
<body>
    <h1>이미지 목록</h1>
   
    <ul>
        {% for image in image_items %}
            <li>
                <img src="{{ image.image.url }}" alt="Image">
                <div class="hashtags">
                <p>해시태그: {% for hashtag in image.hashtags.all %}
                    <span>{{ hashtag.name }} </span>
                        {% endfor %}</p>
                </div>
            </li>
        {% empty %}
            <p>등록된 이미지가 없습니다.</p>
        {% endfor %}
    </ul>
    <h1 >실시간 검색 순위</h1>
    <ul id="search-ranking-list">
        
        {% for entry in search_ranking  %}
        <li>{{ entry.query }} ({{ entry.search_count }}회 검색)</li>
        {% endfor %}
    </ul>
    <div id="search-ranking">
        <!-- 실시간 검색 순위가 여기에 나타날 것입니다. -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updateRanking() {
            $.get('{% url "img:image_list" %}', function (data) {
                var rankingHtml = '<h1>실시간 검색 순위</h1><ul>';
                for (var i = 0; i < data.length; i++) {
                    rankingHtml += '<li>' + data[i].query + ' (' + data[i].search_count + '회 검색)</li>';
                }
                rankingHtml += '</ul>';
    
                // Update the ranking on the page
                $('#search-ranking').html(rankingHtml);
            });
        }
    
        // Initially load the ranking
        updateRanking();
    
        // Update the ranking every 10 seconds
        setInterval(updateRanking, 10000);
    </script>
    </script> 
</body>

{% endblock content %}