{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<h2>인기 이미지</h2>
  <ul>
    {% for image in popular_images %}
      <li>
        <img src="{{ image.image_file.url }}" alt="{{ image.title }}">
        <p>{{ image.title }} - 다운로드 횟수: {{ image.download_count }}</p>
      </li>
    {% endfor %}
  </ul>
  
<h2>인기 검색어 순위</h2>
<div>
  <button onclick="updateSearchRank('daily', 'searchRank')">일간</button>
  <button onclick="updateSearchRank('weekly', 'searchRank')">주간</button>
  <button onclick="updateSearchRank('overall', 'searchRank')">전체</button>
</div>
<ul id="searchRank"></ul>

<script>
  function updateSearchRank(period, containerId) {
    $.ajax({
      url: `/get_popular_search_rank/?period=${period}`,
      method: 'GET',
      success: function (data) {
        console.log(containerId);
      
        updateRankList(data.rank, containerId, period);
      },
      error: function () {
        console.error(`검색어 순위(${period})를 가져오는 중 오류가 발생했습니다.`);
      }
    });
  }

  function get_arrow(prev_rank, current_rank) {
    if (prev_rank === 0 && current_rank === 0) {
      return '';  // 변동 없음
    }

    if (prev_rank < current_rank) {
      return '↑';  // 상승 화살표
    } else if (prev_rank > current_rank) {
      return '↓';  // 하락 화살표
    } else {
      return '';  // 변동 없음
    }
  }

  function updateRankList(rank, containerId, period) {
    console.log('period',period);
    console.log('Updating rank list:', rank);
    const searchRankContainer = $(`#${containerId}`);
    searchRankContainer.empty();
    rank.forEach(function (item, index) {
      const arrow = get_arrow(item.prev_rank, item.rank);
      
      const listItem = $(`<li>${arrow} ${index + 1}. ${item.query} (${item.search_count}회)${item.new}</li>`);
      searchRankContainer.append(listItem);
    });
    if (period === 'daily') {
      // 일간 처리: 예를 들어, 일간 순위 업데이트 후 어떤 추가 처리를 할 경우
      console.log('Daily ranking updated.');
    } else if (period === 'weekly') {
      // 주간 처리: 예를 들어, 주간 순위 업데이트 후 어떤 추가 처리를 할 경우
      console.log('Weekly ranking updated.');
    } else {
      // 전체 처리: 예를 들어, 전체 순위 업데이트 후 어떤 추가 처리를 할 경우
      console.log('Overall ranking updated.');
    }
    
  }
  
  // 초기에 전체 순위를 보여줌
  updateSearchRank('overall', 'searchRank');
</script>



{% endblock content %}