{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h2>인기 검색어 순위</h2>
<ul id="popularSearchRank"></ul>

<script>
  function updatePopularSearchRank() {
    $.ajax({
      url: '/',
      method: 'GET',
      success: function (data) {
        updateRankList(data.rank);
      },
      error: function () {
        console.error('인기 검색어 순위를 가져오는 중 오류가 발생했습니다.');
      }
    });
  }

  function updateRankList(rank) {
    const popularSearchRank = $('#popularSearchRank');
    popularSearchRank.empty();

    rank.forEach(function (item, index) {
      let listItem = $('<li>' + (index + 1) + '. ' + item.query + ' (' + item.search_count + '회)</li>');
      popularSearchRank.append(listItem);
    });
  }

  // 일정 간격으로 인기 검색어 순위 업데이트
  setInterval(updatePopularSearchRank, 5000);  // 5초마다 업데이트
  updatePopularSearchRank();  // 페이지 로딩시 초기 검색어 순위 설정

</script>

<style>
  .changed {
    animation: blink 1s infinite alternate;
  }

  @keyframes blink {
    to {
      opacity: 0.3;
    }
  }
</style>

{% endblock content %}