.card {
    margin-bottom: 20px;
}
  
  /* 인기 검색어 순위 스타일 */
#searchRank {
    list-style-type: none;
    padding: 0;
}
  
#searchRank li {
    margin-bottom: 10px;
}

.custom-container {
   
    margin-left: 88px;
    margin-top: 88px;
}
.col-md-auto {
  flex: 0 0 auto;
  width: auto;
  margin-left: 150px;
}
.card-group{
  width: 115%;
  height: auto;

} 
.card {
    margin-bottom: 20px;
    width: 100%;
    height: 70%;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 70%;
}